* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Oswald";
  src: url("./assets/fonts/Oswald\ Light.ttf");
}

:root {
  --color-primary: #f9cc0b;
  --color-secondary: #f9cc0b;
  --color-accent: #f9f9f9;
  --color-background: #0c1d36;
  --color-black: #000000;
  --color-white: #ffffff;
}

html,
body {
  height: 100%;
  width: 100vw;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: var(--color-background);
  color: var(--color-primary);
}
